@{
    ViewData["Title"] = "Shedule";
}


<div class="container">
    <h2>Shedule</h2>

    @if (User.IsInRole("Instructor"))
    {
        <div lang="row">
            <div class="col">
                <input value="Create new lesson" id="get-add-lesson" type="button" class="btn btn-primary" />
            </div>
        </div>

    }
    <div id="your-div-to-hold-partial-view"></div>

    <br />
    <div id="calendar"></div>



</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            GetAllLessons();
        });
    </script>
}